.bg-cards-study {
  background-color: var(--bg-custom-secondary);
}
.bg-cards-study .year {
  font-weight: 100;
  font-size: 0.9rem;
}
.bg-cards-study p {
  margin-bottom: 0;
}
.bg-cards-study h5 {
  font-weight: 300;
  font-size: clamp(1rem, 3vw, 1.2rem);
}
.bg-cards-study .institution {
  font-weight: 300;
  font-size: 0.9rem;
  font-style: italic;
  text-transform: capitalize;
  color: var(--color-font-no-strong);
}
.bg-icons-study {
  color: var(--color-primary);
}
.card-education .content {
  color: var(--color-font-strong);
  text-decoration: none;
}
.card-education {
  box-shadow: 0px 0px 2px var(--color-primary);
  transition: all 0.2s;
}
.card-education:hover {
  box-shadow: 0px 0px 4px #fff;
  transform: translateX(10px);
}
