.bg-cards-study {
  background-color: var(--bg-color-secondary);
  /* border: 1px solid rgba(128, 128, 128, 0.235); */
}
.bg-cards-study .year {
  font-weight: 100;
  font-size: 0.9rem;
  color: rgba(255, 255, 255, 0.5);
}
.bg-cards-study p {
  margin-bottom: 0;
}
.bg-cards-study h5 {
  font-weight: 300;
  font-size: clamp(1rem, 3vw, 1.2rem);
}
.bg-cards-study .institution {
  font-weight: 300;
  font-size: 0.9rem;
  font-style: italic;
  text-transform: capitalize;
  color: rgba(255, 255, 255, 0.5);
}
.bg-icons-study {
  color: #67d7d175;
}
