@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Swanky+and+Moo+Moo&family=Tagesschrift&display=swap");
* {
  font-family: Montserrat, quicksand;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

:root {
  --color-primary: #5bc0be;
  /* --custom-bg-color: #01030641; */
  --bg-custom-secondary: #1e2737;
}
.color-custom-primary {
  color: var(--color-primary);
}

.bg-custom-secondary {
  background-color: var(--bg-custom-secondary);
}

#home,
#about,
#technologies,
#projects,
#contact {
  scroll-margin-top: 100px; /* Ajusta según el alto de tu navbar */
}
html {
  /* aunque no se pueda hacer scroll, la barra siempre esté ahí, pero desactivada */
  overflow-y: scroll;
}

body {
  color: white;
  margin: 0;
  padding: 0;
  position: relative;
  background-color: #0a0f18;
}

body h2 {
  color: #5bc0be;
  font-weight: bolder;
  font-size: clamp(1.8rem, 4vw, 2.5rem);
  padding: 0 3rem;
}
/* hace que cuando se active el loader ya no haya scroll */
.no-scroll {
  overflow: hidden;
}
/* elimina el padding agregado cuando se abre un modal para que el contenido no se mueva */
body.modal-open {
  padding-right: 0 !important;
}
/* estilos para el boton flotante de whatsApp */
.whatsApp-flotante {
  filter: drop-shadow(0 0 5px rgb(13, 139, 70));
}
.whatsApp-flotante a {
  font-size: 2rem;
  background-color: #2cd46ca1;
  padding: 15px;
  display: flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 10px rgba(6, 196, 91, 0.4);
  color: #fbfffd;
  text-decoration: none;
  transition: 0.2 ease;
}
.whatsApp-flotante a:hover {
  transform: scale(1.05);
}
@media (max-width: 520px) {
  .whatsApp-flotante a {
    font-size: 1.6rem;
    padding: 12px;
  }
}
