* {
  font-family: Roboto, sans-serif;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
#home,
#about,
#technologies,
#projects,
#contact {
  scroll-margin-top: 100px; /* Ajusta según el alto de tu navbar */
}
html {
  /* aunque no se pueda hacer scroll, la barra siempre esté ahí, pero desactivada */
  overflow-y: scroll;
}
body {
  background-image: url(/assets/images/fondo-body.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: white;
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 0;
}
body::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.836);
  z-index: -1;
}
h2 {
  color: #5bc0be;
}
/* hace que cuando se active el loader ya no haya scroll */
.no-scroll {
  overflow: hidden;
}
/* elimina el padding agregado cuando se abre un modal para que el contenido no se mueva */
body.modal-open {
  padding-right: 0 !important;
}
