/* boton hamburguesa */
/* padre del menu hamburguesa */
.navbar {
  background-color: #0f0f0f;
  /*hace que el navbar al cargar la pagina haga una animacion de arriba a abajo*/
  animation: 1s ease-in-out 0.4s 1 normal forwards running fadeIn;
  opacity: 0;
  transform: translateY(-20px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.047);
}
/* Animación tipo fadeIn */
@keyframes fadeIn {
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
.navbar-toggler {
  /* background-color: #3a506b; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
/* las 3 lineas del menu hamburguesa */
.navbar-toggler .bar {
  width: 20px;
  height: 3px;
  background-color: #fff;
  border-radius: 2px;
  transition: all 0.3s ease;
}
.navbar .name {
  font-weight: bolder;
  font-size: 2rem;
  font-style: oblique;
  color: var(--color-primary);
}
.nav-link {
  font-weight: 300;
  color: #ffff;
}
.nav-link:hover {
  color: var(--color-primary);
}
/* Cuando el botón tiene la clase "open" (cuando se hace clic) */
.navbar-toggler.open .bar:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px); /* Rotamos la primera barra */
}

.navbar-toggler.open .bar:nth-child(2) {
  opacity: 0; /* La segunda barra desaparece */
}

.navbar-toggler.open .bar:nth-child(3) {
  transform: rotate(-45deg) translate(6px, -6px); /* Rotamos la tercera barra */
}
.navbar.fixed-top {
  padding-right: 0 !important;
  margin-right: 0 !important;
  right: 0 !important;
}
@media (max-width: 991px) {
  .navbar-nav {
    margin-top: 30px;
  }
  /* Bootstrap breakpoint para navbar colapsado */
  #navbarNavDropdown {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #navbarNavDropdown .navbar-nav {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  #navbarNavDropdown .navbar-nav .nav-item {
    display: flex;
    width: 100%;
  }
  #navbarNavDropdown .navbar-nav .nav-item .nav-link {
    /* text-align: center; */
    width: 100%;
  }
}
@media (max-width: 720px) {
  .navbar .name {
    font-size: 1.6rem;
  }
}

@media (max-width: 480px) {
  .navbar .name {
    font-size: 1rem;
  }
}
