#home {
  position: relative;
  top: 6vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  padding: 4rem 0px;
  background: var(--degradado);
}
#home .container-home {
  padding: 3rem 1rem;
}
#home .container-img {
  font-size: 0.8rem;
}
#home .text {
  letter-spacing: 0.1rem;
}

#home .btns:nth-child(1) {
  color: white;
  border: 1px solid white;
}
#home .btns:nth-child(2) {
  background-color: #fff;
  color: var(--color-primary);
  border: 1px solid rgba(255, 255, 255, 0.1);
}
#home .btns:hover:nth-child(1) {
  border: 1px solid var(--color-primary);
}
#home .btns:hover:nth-child(2) {
  color: #316bf185;
}
.right img {
  width: 500px;
}
