.color-primary {
  color: var(--color-primary);
}
#home {
  position: relative;
  top: 6vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  padding: 4rem 0px;
  background-image: url("../images/imageGrande.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
#home .container-home {
  padding: 3rem 1rem;
}
#home .container-img {
  font-size: 0.8rem;
}
#home .text span {
  color: var(--color-primary);
}
#home .btns:nth-child(1) {
  background-color: var(--color-primary);
  color: var(--font-no-strong);
}
#home .btns:nth-child(2) {
  background-color: var(--bg-custom-secondary);
  color: white;
}
#home .btns:hover:nth-child(1) {
  background-color: var(--bg-custom-secondary);
  color: white;
}
#home .btns:hover:nth-child(2) {
  background-color: var(--color-primary);
  color: black;
}
#home .img-hero {
  transition: all 0.2s;
}

#home .img-hero:hover {
  filter: drop-shadow(0px 0px 1px var(--color-primary));
}

@media (max-width: 991px) {
  #home .img-hero {
    max-height: 20rem;
  }

  #home .container-home {
    padding: 0rem 0rem;
  }
}
@media (max-width: 576px) {
  #home {
    background-image: none;
  }
  #home .img-hero {
    max-height: 14rem;
  }
}
