#projects .card {
  background-color: var(--bg-custom-secondary);
  transition: 0.2s ease;
  color: var(--color-font-strong);
  padding: 0.3rem;
}

#projects .card:hover {
  box-shadow: 0px 0px 4px var(--color-primary);
}
#projects .card h4 {
  color: var(--color-primary);
  font-style: italic;
  font-weight: bolder;
}
#projects .card h5 {
  color: var(--color-font-no-strong);
  font-size: 1rem;
}

#projects .card h5::before {
  content: "<>";
  display: inline-block;
  color: var(--color-primary);
  margin-right: 10px;
  vertical-align: middle;
}
#projects .card img {
  height: 200px;
  border-radius: 8px 8px 0px 0px;
  object-fit: cover;
}
#projects .card .container-tech-list li {
  font-size: 14px;
  background-color: #272626;
  color: var(--color-font-no-strong);
}

#projects .card .btn {
  background-color: var(--color-primary);
  color: var(--color-font-strong);
}
/* Desactiva los efectos hover en dispositivos táctiles para evitar comportamientos no deseados */
@media (hover: none) and (pointer: coarse) {
  #projects .card:hover {
    transform: none;
    box-shadow: none;
  }
}
