.logos {
  display: flex;
  flex-wrap: wrap;
  gap: clamp(1rem, 5vw, 3rem);
}
.logos img {
  width: clamp(3.9rem, 12vw, 6rem);
  padding: clamp(2px, 4vw, 0.6rem);
  background-color: var(--bg-custom-secondary);
  border-radius: 10px;
  opacity: 0.5;
}
