.logos {
  display: flex;
  flex-wrap: wrap;
  gap: clamp(20px, 7vw, 50px);
}
.logos img {
  width: clamp(50px, 12vw, 90px);
  padding: clamp(2px, 4vw, 10px);
  background-color: var(--bg-custom-secondary);
  border-radius: 10px;
  filter: grayscale(20%);
}
