#technologies {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.slider {
  width: 100%;
  height: fit-content;
  overflow: hidden;
  -webkit-mask-image: linear-gradient(
    to right,
    transparent 0%,
    black 10%,
    black 90%,
    transparent 100%
  );
}

.logos {
  width: max-content;
  justify-content: flex-start;
  display: flex;
  align-items: center;
  animation: slide 35s linear infinite;
  gap: clamp(50px, 4vw, 80px);
}

.logos img {
  width: clamp(45px, 6vw, 110px);
  height: auto;
  flex-shrink: 0;
  margin: 0;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}
